body{
    margin: 0px;
    
    width: 100%;
    height: 100%;
    background-image: url(/imgs/career.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    
}

.container{
    margin-top: 400px;
    margin-bottom: 400px;
    margin-left: 625px;
    
    font-size: 50px;
    
}